In [2]:
import pandas as pd
import os

In [12]:
df = pd.read_csv('Data/GI_age.csv')

In [15]:
df.head(10)

,England and Wales Code,England and Wales,Gender identity (7 categories) Code,Gender identity (7 categories),Age (6 categories) Code,Age (6 categories),Observation
0,K04000001,England and Wales,-8,Does not apply,1,Aged 15 years and under,0
1,K04000001,England and Wales,-8,Does not apply,2,Aged 16 to 24 years,0
2,K04000001,England and Wales,-8,Does not apply,3,Aged 25 to 34 years,0
3,K04000001,England and Wales,-8,Does not apply,4,Aged 35 to 49 years,0
4,K04000001,England and Wales,-8,Does not apply,5,Aged 50 to 64 years,0
5,K04000001,England and Wales,-8,Does not apply,6,Aged 65 years and over,0
6,K04000001,England and Wales,1,Gender identity the same as sex registered at ...,1,Aged 15 years and under,0
7,K04000001,England and Wales,1,Gender identity the same as sex registered at ...,2,Aged 16 to 24 years,5809658
8,K04000001,England and Wales,1,Gender identity the same as sex registered at ...,3,Aged 25 to 34 years,7518377
9,K04000001,England and Wales,1,Gender identity the same as sex registered at ...,4,Aged 35 to 49 years,10829667