In [1]:
import pandas as pd

In [2]:
import plotly.io as pio
pio.renderers.default = "notebook_connected"

In [3]:
# Read the CSV file into a pandas DataFrame

df = pd.read_csv('Data/sexuality_country_gender.csv')

In [4]:
df.head()

,Country,Gender,Sexuality,Unnamed: 3,2010,2011,2012,2013,2014
0,UK,Men,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Heterosexual / Straight,NaN,93.62811882,93.83312,93.236831,92.26242206,92.46354755
2,NaN,NaN,Gay / Lesbian,NaN,1.372509211,1.391262926,1.459348,1.551245295,1.490815218
3,NaN,NaN,Bisexual,NaN,0.36131733,0.386498562,0.325136,0.360631366,0.321500701
4,NaN,NaN,Other,NaN,0.418582671,0.367061623,0.330934,0.260649684,0.316080858

In [5]:
# Fill down 'Country' and 'Sex' values
df['Country'].fillna(method='ffill', inplace=True)
df['Gender'].fillna(method='ffill', inplace=True)

# Filter out rows related to "Weighted base (000s)" and "Unweighted sample" for separate handling
main_df = df[~df['Gender'].str.contains("Weighted base|Unweighted sample")]

# Drop unnecessary NaN columns
main_df = main_df.dropna(axis=1, how='all')
main_df = main_df.dropna(axis=0, how='any')

# Display the cleaned main data to ensure it's structured correctly
main_df.head()

/var/folders/dm/468m4xf52c71yhldz5ck50pw0000gn/T/ipykernel_39910/2463003369.py:2: FutureWarning:

Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.

/var/folders/dm/468m4xf52c71yhldz5ck50pw0000gn/T/ipykernel_39910/2463003369.py:3: FutureWarning:

Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.

,Country,Gender,Sexuality,2010,2011,2012,2013,2014
1,UK,Men,Heterosexual / Straight,93.62811882,93.83312,93.236831,92.26242206,92.46354755
2,UK,Men,Gay / Lesbian,1.372509211,1.391262926,1.459348,1.551245295,1.490815218
3,UK,Men,Bisexual,0.36131733,0.386498562,0.325136,0.360631366,0.321500701
4,UK,Men,Other,0.418582671,0.367061623,0.330934,0.260649684,0.316080858
5,UK,Men,Don't know/refuse,3.519557136,3.419206992,3.476622,3.944665469,3.814776265

In [6]:
year_columns = ['2010', '2011', '2012', '2013', '2014']  # Update this list based on your dataset
long_format_df = main_df.melt(id_vars=['Country', 'Gender', 'Sexuality'], value_vars=year_columns, var_name='Year', value_name='Percentage')

# Convert 'Percentage' to numeric, as it may be read as string due to the initial NaN values
long_format_df['Percentage'] = pd.to_numeric(long_format_df['Percentage'], errors='coerce')

# Display the transformed dataset ready for plotting
long_format_df.head(20)

    Country Gender                Sexuality  Year  Percentage
0        UK    Men  Heterosexual / Straight  2010   93.628119
1        UK    Men            Gay / Lesbian  2010    1.372509
2        UK    Men                 Bisexual  2010    0.361317
3        UK    Men                    Other  2010    0.418583
4        UK    Men        Don't know/refuse  2010    3.519557
5        UK    Men             Non-response  2010    0.699915
6        UK  Women  Heterosexual / Straight  2010   94.353535
7        UK  Women            Gay / Lesbian  2010    0.636033
8        UK  Women                 Bisexual  2010    0.557008
9        UK  Women                    Other  2010    0.352115
10       UK  Women        Don't know/refuse  2010    3.500683
11       UK  Women             Non-response  2010    0.600627
12  England    Men  Heterosexual / Straight  2010   93.460952
13  England    Men            Gay / Lesbian  2010    1.409939
14  England    Men                 Bisexual  2010    0.383175
15  England    Men                    Other  2010    0.439338
16  England    Men        Don't know/refuse  2010    3.675059
17  England    Men             Non-response  2010    0.631537
18  England  Women  Heterosexual / Straight  2010   94.307021
19  England  Women            Gay / Lesbian  2010    0.639942

In [7]:
# Sort datafrmae into right order 

# Sorting the DataFrame by 'Country', 'Sex', and then 'Year'
sorted_df = long_format_df.sort_values(by=['Country', 'Gender', 'Year']).reset_index(drop = True)

# Display the sorted DataFrame to check if it flows as expected
sorted_df.head(20)

    Country Gender                Sexuality  Year  Percentage
0   England    Men  Heterosexual / Straight  2010   93.460952
1   England    Men            Gay / Lesbian  2010    1.409939
2   England    Men                 Bisexual  2010    0.383175
3   England    Men                    Other  2010    0.439338
4   England    Men        Don't know/refuse  2010    3.675059
5   England    Men             Non-response  2010    0.631537
6   England    Men  Heterosexual / Straight  2011   93.610204
7   England    Men            Gay / Lesbian  2011    1.428044
8   England    Men                 Bisexual  2011    0.388705
9   England    Men                    Other  2011    0.382754
10  England    Men        Don't know/refuse  2011    3.614742
11  England    Men             Non-response  2011    0.575551
12  England    Men  Heterosexual / Straight  2012   93.003910
13  England    Men            Gay / Lesbian  2012    1.517114
14  England    Men                 Bisexual  2012    0.315575
15  England    Men                    Other  2012    0.319926
16  England    Men        Don't know/refuse  2012    3.662761
17  England    Men             Non-response  2012    1.180714
18  England    Men  Heterosexual / Straight  2013   91.960604
19  England    Men            Gay / Lesbian  2013    1.648752

In [8]:
# Round values in Percentage column to 2 decimal places

sorted_df['Percentage'] = sorted_df['Percentage'].round(2)

In [9]:
# Save df

sorted_df.to_csv('Data/cleaned_sexuality_df.csv', index = False)